@page "/project/index"

@using ProjectWatch.Data
@using ProjectWatch.Models
@inject ProjectService ProjectService



@if (project == null)
{
    <h1>Project</h1>
    <p><em>Loading...</em></p>
}
else
{
    <h1>@project.Name</h1>
    @foreach (var e in project.Elements)
    {
        <div class="row">
            @(ProjectService.ElementService<IElementService<Element>>().Draw(e))
            <input type="button" @onclick="@(() => { ProjectService.ElementService<IElementService<Element>>().Delete(e,project); })" value="-" />
        </div>
    }
    <input type="button" @onclick="@(() => { ProjectService.ElementService<IElementService<Element>>().Create(project); })" value="@("+")" />
}

@code {
    private Project project;

    protected override async Task OnInitializedAsync()
    {
        project = await ProjectService.GetProjectAsync();
    }

}
